* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 18px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #dddddd;
}

.fired {
    background-color: #ffebee;
}

.search-panel {
    margin-bottom: 20px;
}

.search-panel input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 350px;
}

.search-panel input:focus {
    outline: none;
    border-color: #5274e3;
}

.search-panel {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.search-panel input,
.search-panel select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-panel input {
    width: 350px;
}

.search-panel select {
    width: 200px;
}

.search-panel input:focus,
.search-panel select:focus {
    outline: none;
    border-color: #5274e3;
}